# Shortcuts
alias g="git"
alias v="vim "
alias m="mvim "
alias s="subl ."
alias o="open"
alias oo="open ."
alias grep="grep --color=tty -d skip"
alias gr=grep
alias hgrep="history | grep "
alias trsh='mv --target-directory=$HOME/.Trash'
alias rake="noglob rake"
alias tree="tree -CAFa -I 'CVS|*.*.package|.svn|.git' --dirsfirst"
alias cddoc="cd ~/Documents"
alias sudo='sudo '

# Get OS X Software Updates, update Homebrew itself, and upgrade installed Homebrew packages
alias update='sudo softwareupdate -i -a; brew update; brew upgrade; gem update; npm update'

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"

# Enhanced WHOIS lookups
alias whois="whois -h whois-servers.net"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en0' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en0 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

alias glive='guard init && guard init livereload'
alias mysqlstart='mysql.server start'
alias mysqlstop='mysql.server stop'

alias ptt="ssh bbsu@ptt.cc"
